/* baskcground color */
header.main, .member-menu-top .profile-image, .member-menu-logged ul, .main-logo, .login-wrap, .member-header-wrap, .read-control li:not(.comment-num) a, .read-control li:not(.comment-num) button, .flatBoard .login-wrap, .m-element .notice-list li .notice-text, .m-imagenews .info span.category, .swiper-active-switch, .m-ranking .rank-num, .main-image-wrap, .main-normal-image
{background-color: #805179;} /* @mCol */
.member-menu-top, .social-login a, .member-header .profile-image, .member-header .member-menu li a, .read-control .num2 span, .global-search .btClose, .m-imagenews .info span.name	
{background-color: #674161;} /* @mCol_d */
.btDark, .flatMember .btSubmit, .flatBoard .btSubmit, .login-body .btLogin, .m-element nav ul, .m-element section h3, .lang-list, .main-search button
{background-color: #433631} /* @sCol */
.m-element nav ul li.active a, .m-element section h3 span	
{background-color: #392f2a} /* @sCol_d */


/* border color */
.member-menu-top a.btLogin	
{border-right: 1px solid #6d4567;} /* @mCol_line */
.member-menu-logged li	
{border-bottom: 1px solid #6d4567;} /* @mCol_line */
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="file"]:focus, input[type="password"]:focus, textarea:focus	
{border: 1px solid #805179;} /* @mCol */
.lang-list:after
{border-color: #433631 transparent} /* @sCol */

.searchinput2	{box-shadow: 0px 0px 0px 8px #433631;}

.gnb li ul li a.selected
{border-left: 5px solid #805179;}

/* font color */
.flatMember em, .read-control li.comment-num .num, .write-form em, .gnb li ul li ul li.selected
{color: #805179 !important;} /* @mCol */
header.main h1, .global-search .btClose, .member-menu-top a, .member-menu-top .name, .flatMember .btSubmit, .flatBoard .btSubmit, .read-control .num2 span, .m-element .notice-list li .notice-text, .member-top-title, .top-title	{color: #ede3ec;} /* @mCol_l */
.member-menu-logged li a, .social-login h2, .member-header .member-menu li a	
{color: #d9c4d6;} /* @mCol_l2 */
.m-list-reply	
{color: #694e47;} /* @sCol_l3 */
.m-element nav li.active a, .m-element section h3, .login-body .btLogin, .btDark, .lang-list li button, .main-search button, .m-element section h3 a
{color: #dad0cc;} /* @sCol_l */
.m-element nav a	
{color: #8e827d;} /* @sCol_l2 */

.member-header .member-menu li a
{opacity: 0.6;}
.member-header .member-menu li a.active
{opacity: 1.0;}


/* etc */
.login-body, .signup-body, .find-body, .flatBoard .origin-body, .flatBoard .message-body	
{box-shadow: 0 0 10px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);}


/* phone color */
@media screen and (max-width: 767px){	
	/* board comment */
	.comment-control li span	{background-color: #956e8f; border-bottom: 1px solid #805179;} /* mCol_l2 */
	.comment-control li span.im	{background-color: #805179; border-bottom: 1px solid #6d4567;} /* @mCol_line */
}
