<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="list" default="guest">
			<title xml:lang="ko">목록 보기</title>
		</grant>
		<grant name="view" default="guest">
			<title xml:lang="ko">내용 보기</title>
		</grant>
		<grant name="write_document" default="guest">
			<title xml:lang="ko">글 쓰기</title>
		</grant>
		<grant name="write_comment" default="guest">
			<title xml:lang="ko">댓글 쓰기</title>
		</grant>
	</grants>
	<permissions>
		<permission action="procDgibiAdminUpdateSimpleSetup" target="manager" />
		<permission action="getDgibiAdminSimpleSetup" target="manager" />
	</permissions>
	<actions>
		<action name="procDgibiAdminUpdateSimpleSetup" type="controller" />
		<action name="getDgibiAdminSimpleSetup" type="model" simple_setup_index="true" />
		
		<action name="dispDgibisiga" type="view" standalone="false" />
		<action name="dispDgibidgi6" type="view" standalone="false" />
		<action name="dispDgibidgi5" type="view" standalone="false" />
		<action name="dispDgibidgi4" type="view" standalone="false" />
		<action name="dispDgibidgi3" type="view" standalone="false" />
		<action name="dispDgibidgi2" type="view" standalone="false" />
		<action name="dispDgibiContent" type="view" standalone="false" index="true" />
		
		<action name="procDgibiWrite" type="controller" standalone="false" />
	</actions>
</module>