<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
	<action name="dispQueryAddress" type="view" standalone="true"/>
	<action name="procControllerTest" type="controller" standalone="true"/>
	
	<action name="dispAroundmapAdminConfig" type="view" standalone="true" admin_index="true"/>
	<action name="procAroundmapAdminSetApiKey" type="controller" standalone="true"/>
    </actions>
</module>
