@import url(http://fonts.googleapis.com/css?family=Exo+2);

/* en */

.btBasic:lang(en), .btAdmin:lang(en)	{letter-spacing: 0;}

/* font */
body, select, input, button, textarea, table	{font-family: 'Exo 2', sans-serif;}

html, body {

    height: 100%;

}

/* bottom button */

#menu-content{
	width : 100%;
	height : 100%;
	background-color:#F0F0F0;
}
#menus{
	width : 100%;
	height : 100%;
}

.lmenu{
	float: left;
	width : 100%;
	height : 50%;
	padding : 0%;
	font-weight : bold;
	color : white;
	font-size : 20px;
	margin : 0% 15% 0% 0%;
}

.bmenu{
	border-radius:5px;
	float: left;
	width : 88%;
	padding : 4%;
	font-weight : bold;
	color : white;
	font-size : 15px;
	margin : 2.25% 1.5% 1.5% 2.25%;
}

#mblank{
	width : 100%;
	margin : 9.25% 1.5% 1.5% 2.25%;
}

#button1{background-color : #26C374;}
#button2{background-color : #5db1cc;}
#button3{background-color : #fdbf39;}
#button4{background-color : #aa90b7;}
#button5{background-color : #f3916f;}
#button6{background-color : #5db1cc;}




/* start! */
body	{margin: 0; line-height: 1.2; font-size: 1.0em; position: relative; -webkit-text-size-adjust: none;}
#container	{position: relative; height:100%;}

/* basic */
a	{text-decoration: none;}
h1, h2, h3, h4, h5, p, ol, ul, dl, dd, dt, input	{margin: 0; padding: 0;}
ol, ul	{list-style: none;}
input, textarea, button	{outline: none; margin: 0; font-size: 1.0em;}
select	{outline: none;}
button	{margin: 0; padding: 0; cursor: pointer;}


.dButton	{padding:0; margin:0; background-color: transparent; border: none;}
.bt-wrap	{text-align: center;}
.profile-image	{background-repeat: no-repeat; background-position: center center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.profile-image img	{-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.btTop	{display: block; position: fixed; right: 10px; bottom: 10px; width: 38px; height: 38px; background-color: #000; background-repeat: no-repeat; background-position: center center; opacity: 0.5; text-indent: -9999px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; z-index: 150;}
.login-wrap	{padding: 30px 0 50px;}
.login-wrap input[type="text"],
.login-wrap input[type="password"],
.login-wrap input[type="email"],
.login-wrap input[type="url"],
.login-wrap input[type="file"]	{width: 92%; padding: 10px 4%; -webkit-appearance: none; font-size: 0.85em;}


/* top banner */
.top-banner	{display: block; position: relative; z-index: 60; width: 100%;}
.top-banner img	{display: block; margin: 0 auto; width: 100%; height: auto; max-width: 640px;}
/* bottom banner */
.bottom-banner	{display: block; width: 100%;}
.bottom-banner img	{display: block; margin: 0 auto; width: 100%; height: auto; max-width: 640px;}

/* main header */
header.main	{position: relative; height: 40px; z-index: 60;}
header.main h1	{font-size: 1.0em; position: absolute; top: 10px; left: 50%; width: 240px; height: 100%; margin-left: -120px; text-align: center; z-index: 60;}
header.main button, header.main a	{position: absolute; top: 0; display: block; width: 38px ; height: 100%; background-position: center center; background-repeat: no-repeat; text-indent: -9999px;}
header.main .menu-trigger	{left: 0;}
header.main .btSearch	{right: 0;}
header.main .btPrev	{right: 0; display: none;}
header.main .btCancel	{right: 0; display: none;}
header.main .left-menu	{display: none;}
.top-title	{font-size: 1.0em; position: absolute; top: 10px; left: 50%; width: 240px; margin-left: -120px; text-align: center; z-index: 60;}

/* main footer */
footer.main-footer	{clear: both; margin-top: -1px; padding: 15px 12px 30px; text-align: center; font-size: 0.85em; z-index: 20; position: relative;}
.bottom-menu1 li	{display: inline-block; margin-right: 3px; letter-spacing: -1px; }
.bottom-menu1 li:last-child	{margin-right: 0;}
.bottom-menu1 li .btBasic	{font-size: 1.0em;}
.bottom-menu1 li.lang-area	{position: relative;}
.lang-list	{display: none; position: absolute; bottom: 36px; left: 50%; padding: 3px 0 3px 8px; margin-left: -40px; width: 72px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: left;}
.lang-list:after	{content: ""; position: absolute; bottom: -6px; left: 34px; border-style: solid; border-width: 6px 6px 0; display: block; width: 0; z-index: 1;}
.lang-list li	{display: block; margin: 0; letter-spacing: 0;}
.lang-list li button	{padding: 3px 0; background: none; border: none;}
.bottom-menu2	{margin-top: 15px; letter-spacing: -1px; }
.bottom-menu2 li	{display: inline-block; padding: 0 8px;}
.bottom-menu2 li:first-child	{padding-left: 0;}
.bottom-menu2 li:last-child	{padding-right: 0; border-right: none;}
.bottom-info	{margin-top: 15px; line-height: 1.4;}
.bottom-info address	{display: inline; font-style: normal;}
.bottom-info .tel-text	{margin-left: 5px;}

/* global search */
.global-search	{display: none; position: absolute; top: 40px; left: 0; width: 100%; height: 40px; z-index: 60;}
.global-search fieldset	{padding: 0; margin: 0; border: none;}
.global-search legend	{display: none;}
.global-search input	{margin: 12px 0 0 10px; width: 75%; border: none; background: none; font-size: 0.85em; letter-spacing: -1px;}
.global-search .btClose	{display: block; float: right; width: 11%; height: 40px; background-repeat: no-repeat;background-position: center center; text-indent: -9999px; }
.bg-dummy	{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.6; z-index: 50;}


/* menu */
#menu-wrap	{display: none; position: fixed; top: 0; left: 0; height: 100%; width: 260px; overflow: auto; z-index: 70;}

/* member menu */
.member-menu-top	{height: 40px; font-size: 0.9em;}
.member-menu-top a	{display: inline-block; line-height: 40px; text-align: center; vertical-align: middle;}
.member-menu-top a.btLogin	{width: 45%;}
.member-menu-top a.btLogin span	{padding-left: 22px; background-repeat: no-repeat; background-positoin: left center;}
.member-menu-top a.btSignup	{width: 50%;}
.member-menu-top a.btSignup span	{padding-left: 22px; background-repeat: no-repeat; background-position: left center;}

/* logged menu */
.member-menu-logged .member-menu-top	{padding-left: 5px; cursor: pointer;}
.member-menu-top .profile-image	{float: left; margin-top: 5px; width: 30px; height: 30px;}
.member-menu-top .name	{float: left; padding-left: 10px; line-height: 40px; font-weight: bold;}
.member-menu-top.arrowUp	{background-repeat: no-repeat; background-position: 95% center;}
.member-menu-top.arrowDown	{background-repeat: no-repeat; background-position: 95% center;}
.member-menu-logged ul	{display: none; font-size: 0.85em; letter-spacing: -1px;}
.member-menu-logged li	{padding-left: 12px;}
.member-menu-logged li a	{display: block; padding-left: 33px; background-position: left center; background-repeat: no-repeat; line-height: 40px;}

/* global navigation */
.gnb	{font-size: 0.85em; letter-spacing: -1px;}
.gnb li	{position: relative; padding-left: 10px;}
.gnb li a	{display: block; position: relative; padding: 12px 0 12px 22px; background-repeat: no-repeat; background-position: left center; z-index: 10;}
.gnb li ul	{margin-left: -10px;}
.gnb li ul li	{padding-left: 0; border-bottom: none;}
.gnb li ul li a	{padding-left: 15px; background: none;}
.gnb li ul li ul	{margin-left: -10px; list-style: disc inside;}
.gnb li ul li ul li a	{padding-left: 30px;}
.gnb li .arrow	{display: block; position: absolute; top: 0; right: 0; width: 35px; height: 40px; background-position: center center; background-repeat: no-repeat; text-indent: -9999px; z-index: 20;}


/* main top image & image container */
.main-image-wrap	{position: relative; width: 100%;}
.main-image-wrap .dummy	{padding-top: 65%;}
.main-image-wrap .main-image	{position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-position: center center;-webkit-background-size: cover; -o-background-size: cover; background-size: cover;}
.main-logo, .main-normal-image	{padding: 25px 0 40px; text-align: center;}
.main-logo img	{-webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);}

/* main search */
.main-search fieldset	{padding: 0; margin: 0; border: none;}
.main-search legend	{display: none;}
.searchinput2	{padding: 0 10px; width: 65%; max-width: 320px; border: none; font-size: 0.95em; line-height: 32px; -webkit-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px;}
.main-search button	{margin-left: 4px; padding: 0 12px 0 4px; border: none; line-height: 48px; -webkit-border-radius: 0 12px 12px 0; -o-border-radius: 0 12px 12px 0; border-radius: 0 12px 12px 0;}

/* content */
.f-message	{padding: 30px 0; line-height: 1.6; text-align: center;}
.content.sub-page img	{max-width: 100%;}
.content .xe_content ol	{list-style: decimal; margin-left: 25px;}
.content .xe_content ul	{list-style: disc; margin-left: 25px;}
.content .xe_content ul ul	{list-style: circle;}
.content .xe_content ul ul ul	{list-style: square;}


/* checkbox style */
input[type="checkbox"]	{display: none;}
input[type="checkbox"] + label span	{display: inline-block; line-height: 14px; vertical-align: middle;}
input[type="checkbox"] + label span.check-dummy	{width: 14px; height: 14px; background-repeat: no-repeat; background-position: left top;}
input[type="checkbox"]:checked +label span.check-dummy	{background-position: left -14px;}
.exvar input[type="checkbox"]	{display: inline;}

/* button style */
.btDark	{display: inline-block; border: none; line-height: 36px; text-align: center; font-size: 0.85em; letter-spacing: -1px;}
.btRed	{display: inline-block; border: none; line-height: 36px; text-align: center; font-size: 0.85em; letter-spacing: -1px;}
.btLight	{display: inline-block; border: none; line-height: 36px; text-align: center; font-size: 0.85em; letter-spacing: -1px;}


.btBasic	{display: inline-block; margin: 0; padding: 5px 7px; font-size: 0.85em; letter-spacing: -1px; line-height: 1.0; letter-spacing: -1px; vertical-align: middle; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}
.btAdmin	{display: inline-block; margin: 0; padding: 5px 7px; font-size: 0.85em; letter-spacing: -1px; line-height: 1.0; letter-spacing: -1px; vertical-align: middle; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}

 
/* Micro ClearFix Mixin */
.clearfix	{zoom:1;}
.clearfix:before, .clearfix:after	{content:""; display:table;}
.clearfix:after	{clear: both;}


/* pad style */
@media screen and (min-width: 768px){
	.main-image-wrap	{padding: 25px 0 40px; text-align: center;}
	.main-image-wrap .dummy	{padding-top: 0;}
	.main-image-wrap .main-image	{position: static; margin: 0 auto; width: 320px; height: 160px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.1);}
	
}

